VITE_APP_ENV="production" # development, production
VITE_APP_NAME="Chatbot AI"

VITE_BING_AI_API_URL="http://localhost:8000"
VITE_GPT_AI_API_URL="http://localhost:8001"
VITE_GEMINI_AI_API_URL="http://localhost:8002"
VITE_BARD_AI_API_URL="http://localhost:8003"
VITE_CHECK_STATUS_API_URL="http://localhost"

VITE_CHANGELOG_URL="https://raw.githubusercontent.com/sleepy4k/solidjs-chatbot/main"